    <div class="rows" style="border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>ErpDemo Introduction</b>
            </div>
            <div class="panel-body">
                <ul>
                    <li>This ErpDemo is only for author's personal learning and practise. Please do not use it for commercial purposes.</li>
                    <li>So far, system just supports two levels menu, naming conventions need to be followed when creating menu.</li>
                    <li>The system is still in continuous improvement, Marketing and Finance development is on going and will come soon.</li>
                    <li>This system has not being strictly tested, so it is far from a real system. If you found bugs, please contact author.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rows" style="border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Technical Information</b>
            </div>
            <div class="panel-body" style="overflow: hidden;">
                <div style="float: left; width: 50%;">
                    <ol>Front End</ol>
                    <ul>
                        <li>JS framework: jQuery v3.3.1, Bootstrap v3.3.7, AdminLTE app.js v2.4.2</li>
                        <li>CSS framework: Bootstrap v3.3.7</li>
                        <li>Popover: layer v3.1.1</li>
                        <li>Select: Select2 v4.0.5</li>
                        <li>Treeview: jsTree 3.3.5</li>
                    </ul>
                </div>
                <div style="float: left; width: 50%;">
                    <ol>Back End</ol>
                    <ul>
                        <li>Core framework: ASP.NET Core 2.0</li>
                        <li>ORM: EntityFramework 6.0</li>
                        <li>IDE: Visual Studio 2017</li>
                        <li>Database: SQL Server 2016</li>
                        <li>Programming Language: C#, SQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="rows" style="border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Contact</b>
            </div>
            <div class="panel-body">
                <p>
                    If you have any questions, pls send me email:
                    <a href="#">gordon_duan@hotmail.com</a>
                </p>
            </div>
        </div>
    </div>

