<div class="rows" style="border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Gordon Duan</b>
        </div>
        <div class="panel-body">
            <p>Girton Terrace, Mount Cook, Wellington, 6021</p>
            <p>Email: gordon_duan@hotmail.com</p>
        </div>
        <div class="panel-body">
            <p>Dear Sir:</p> 
            <p>I am a student of UUNZ Institute of Business. I am looking for a job in organisations in the information system development industry. I will graduate in June, 2018 and are able to work as full time.</p>
            <p>I have good experience on large information system, I used to join the core team to work on large database and system kernel components for both coding and architecture design for five years in China. I also have business experience.</p>
            <p>To make a better judgement on my level, I made this Demo of ERP I ever developed before for your reference. I didn’t put too much function and strictly testing in this demo, so it is far from a real system. But I still think it is good to show some basic and essential stuff like capability of running .Net framework, css/html, jquery, ajax and SQL program.</p>
            <p>My major programming language is C#/PHP/SQL. However, I would like to try any other language as well, I have confidence to do it well once I get familiar with the business process no matter what language used. I am a good learner as well as enthusiastic and self-motivated. I am willing to face challenges and willing to contribute to your organisation.</p>
            <p>I am looking forward to have an opportunity to further discuss my application with you.</p><br />
            <p>Yours sincerely</p>
            <p>Gordon Duan</p>
            <p>04/2018</p>
        </div>
    </div>
</div>


